
body{
	font: 300 16px/1.5 'Lato', Arial, sans-serif;
	color: #3c3c3c;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
	letter-spacing: .16em;
	line-height: 1.3;
}
p{
	margin-bottom: 25px;
}
a{
	text-decoration: none;
	transition: all 0.3s in-ease;
}
.container{
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 940px;
	margin: 0 auto;
}
.container--hero{
	max-width: 640px;
}
.hero{
	box-sizing: border-box;
	background: #aab5ca url(../img/hero-bg.jpg) 50% no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 284px 0 384px;
	min-height: 100vh;
	font-size: 15px;
	letter-spacing: .06em;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2;
	position: relative;
}
.hero__logo{
	display: inline-block;
	margin-bottom: 80px;
}
.icon-logo{
	width: 69px;
	height: 71px;
}
.hero__title{
	text-transform: uppercase;
	font-size: 54px;
	margin-bottom: 35px;
}
.hero__scroll{
	display: block;
	position: absolute;
	bottom: 115px;
	left: 50%;
	margin-left: -12px;
}
.icon-scroll{
	width: 23px;
	height: 37px;
}
.hero__scroll:hover{
	opacity: .6;
}
.about{
	padding: 160px 0;
}
.box{
	box-sizing: border-box;
	border: 2px solid #3c3c3c;
	border-top: none;
	text-align: center;
	position: relative;
}
.box:before,
.box:after{
	content: "";
	display: block;
	width: 22%;
	border-top: 2px solid #3c3c3c;
	position: absolute;
	top: 0;
}
.box:before{
	left: 0;
}
.box:after{
	right: 0;
}
.box:last-child{
	margin-bottom: 0;
}
.box--light,
.box--light:before,
.box--light:after
{
	border-color: white;
}
.box__title{
	font-size: 34px;
	text-transform: uppercase;
	position: absolute;
	left: 24%;
	top: 0;
	margin: 0;
	text-align: center;
	width: 52%;
	transform: translateY(-50%);
}
.box p{
	padding-top: 90px;
	max-width: 700px;
	margin: auto;
}
.box a{
	margin: auto;
	margin-top: 70px;
	margin-bottom: 40px;
	
}
.services{
	background: #aab5ca url(../img/services.jpg) 50% no-repeat;
	background-size: cover;
	color: white;
	padding: 130px 0 110px;
}
.whatwedo{
	padding: 120px 0 110px;
}
.whatwedo__item{
	padding: 45px 0 60px;
	font-size: 14px;
}
.whatwedo__link{
	display: inline-block;
}
.whatwedo__icon{
	width: 80px;
	height: 100px;
}
.whatwedo__title{
	text-transform: uppercase;
	font-size: 20px;
	margin: 25px 0;
}

.contact{
	padding: 130px 0 60px;
}
.contact__button{
	display: block;
	width: 395px;
	line-height: 55px;
	text-align:center;
	margin: 0;
	background-color: #3c3c3c;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
}
.ourworks__box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}
.ourworks__box div p{
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 34px;
	position: relative;
	top: -130px;
	
}
.ourworks div img{
	max-width: 450px;
}
.footer{
	width: 400px;
	margin: 0 auto 60px;
	text-align: center;
	
}
.icon-logo-grey{
	width: 34px;
	height: 37px;
	margin-right: 34px;
	vertical-align: middle;
}
