<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>URLAUBSGLÜCK</title>
	<link rel="icon" type="image/png" sizes="16x16" href="../icon.png">

	<link rel="stylesheet" href="css/style.min.css">

	<!--[if lt IE 9]>
		<script src="js/ie9.min.js"></script>
	<![endif]-->

</head>
<body>
    <div class="promo">
    	<header class="promo__header">
    		<div class="promo__title">URLAUBSGLÜCK</div>
    		<div class="promo__spacing"></div>
    		<div class="promo__login">
    			<a href="#" class="promo__button">Log in</a>
    			<a href="#" class="promo__button">Sign up</a>
    		</div>
    	</header>
    	<div class="promo__content">
    		<p class="promo__ctitle">URLAUBSGLÜCK</p>
    		<p class="promo__bigtext">SHARE YOUR HOLIDAY DREAMS</p>
    		<p class="promo__smalltext">And find the perfect partner to fullfill it</p>
    		<p> <a href="#" class="promo__cbutton">Find your holiday partner</a></p>
    	</div>
    </div>
    <section class="howitworks">
    	<h1 class="howitworks__header">How Urlaubsglück works?</h1>
    	<div class="howitworks__sliders">
    		<div class="howitworks__item">
    			<img src="img/slider_mobile_1.jpg" class="howitworks__image">
    			<ul class="howitworks__slides">
    				<li class="howitworks__slide0 showing">
    					<img src="img/slider_1.jpg"></li>
    				<li class="howitworks__slide0">
    					<img src="img/slider_2.jpg"></li>
    				<li class="howitworks__slide0">
    					<img src="img/slider_3.jpg"></li>
    			</ul>
    			<div class="howitworks__content">
    				<p> <span class="howitworks__step">
    					STEP 1</span></p>
    				<p class="howitworks__bigtext">Sed leo enim, condimentum</p>
    				<article class="howitworks__smalltext">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</article>
    			</div>
    			<div class="howitworks__prev0"></div>
    			<div class="howitworks__next0"></div>
    		</div>
    		<div class="howitworks__item">
    			<img src="img/slider_mobile_4.jpg" class="howitworks__image">
    			<ul class="howitworks__slides">
    				<li class="howitworks__slide1 showing">
    					<img src="img/slider_4.jpg"></li>
    				<li class="howitworks__slide1">
    					<img src="img/slider_5.jpg"></li>
    				<li class="howitworks__slide1">
    					<img src="img/slider_6.jpg"></li>
    			</ul>
    			<div class="howitworks__content">
    				<p> <span class="howitworks__step">
    					STEP 2</span></p>
    				<p class="howitworks__bigtext">Morbi velit risus</p>
    				<article class="howitworks__smalltext">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</article>
    			</div>
    			<div class="howitworks__prev1"></div>
    			<div class="howitworks__next1"></div>
    		</div>
    		<div class="howitworks__item">
    			<img src="img/slider_mobile_7.jpg" class="howitworks__image">
    			<ul class="howitworks__slides">
    				<li class="howitworks__slide2 showing">
    					<img src="img/slider_7.jpg"></li>
    				<li class="howitworks__slide2">
    					<img src="img/slider_8.jpg"></li>
    				<li class="howitworks__slide2">
    					<img src="img/slider_9.jpg"></li>
    			</ul>
    			<div class="howitworks__content">
    				<p> <span class="howitworks__step">
    					STEP 3</span></p>
    				<p class="howitworks__bigtext">Sed leo enim, condimentum</p>
    				<article class="howitworks__smalltext">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</article>
    			</div>
    			<div class="howitworks__prev2"></div>
    			<div class="howitworks__next2"></div>
    		</div>
    	</div>
    </section>
	<section class="partners">
		<h1 class="howitworks__header">Meet a partner for your best holiday</h1>
		<div class="partners__people">
			<div class="partners__concat2">
				<div class="partners__item">
					<div><a href="#" class="partners__image">
						<div class="partners__photo"><img src="img/partners_1.png"></div>
						<div class="partners__icon1"></div>
					</a></div>
					<p class="partners__bigtext">Bradley Hunter</p>
					<article class="partners__smalltext">Based in Chicago. I love playing tennis and loud music.</article>
				</div>
				<div class="partners__spacing"></div>
				<div class="partners__item">
					<div> <a href="#" class="partners__image">
						<div class="partners__photo"><img src="img/partners_2.png"></div>
						<div class="partners__icon2"></div>
					</a></div>
					<p class="partners__bigtext">Heather Walker</p>
					<article class="partners__smalltext">I'm a happy person that loves cats and climbing on mountains.</article>
				</div>
			</div>
			<div class="partners__spacing2"></div>
			<div class="partners__concat2">
				<div class="partners__item">
					<div> <a href="" class="partners__image">
						<div class="partners__photo"><img src="img/partners_3.png"></div>
						<div class="partners__icon3"></div>
					</a></div>
					<p class="partners__bigtext">Lucas Marsha</p>
					<article class="partners__smalltext">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</article>
				</div>
				<div class="partners__spacing"></div>
				<div class="partners__item">
					<div> <a href="#" class="partners__image">
						<div class="partners__photo"><img src="img/partners_4.png"></div>
						<div class="partners__icon4"></div>
					</a></div>
					<p class="partners__bigtext">Bradley Hunter</p>
					<article class="partners__smalltext">Based in Chicago. I love playing tennis and loud music.</article>
				</div>
			</div>
		</div>
		<div> <a href="#" class="partners__button">See other partners</a></div>
	</section>
	<section class="ideas">
		<h1 class="howitworks__header">Discover holiday activity ideas</h1>
		<div class="ideas__tile"></div>
	</section>

	<script type='text/template' id='ideas__dtile'>
		<% for (var i = 0; i < 7; i++) { %>
			<% if (i == 4 || i == 5) { %>
				<div class="ideas__item widthx2">
			<% } else { %>
				<div class="ideas__item">
			<% } %>
			<a href="#"><img class="ideas__img" src=<%=tileImage[i]%>>
			<p class="ideas__text"><%=tileText[i]%></p></a>
		</div>
      	<% } %>		
    </script>

	<section class="search">
		<h1 class="howitworks__header">Discover holiday activity ideas</h1>
		<p class="search__smalltext">Hi! What are your holiday interests?</p>
		<div class="search__form">
			<input type="text" placeholder="Enter your interests" class="search__text">
			<button class="search__button">Search partners</button>
		</div>
	</section>
	<div class="strip"></div>
	<footer class="footer">
		<div class="footer__title">URLAUBSGLÜCK</div>
		<nav class="footer__company">
			<h3 class="footer__header">Company</h3>
			<ul>
				<li><a class="footer__item" href="#">About</a></li>
				<li><a class="footer__item" href="#">Contacts</a></li>
				<li><a class="footer__item" href="#">Press</a></li>
				<li><a class="footer__item" href="#">Blog</a></li>
			</ul>
		</nav>
		<div class="footer__company">
			<h3 class="footer__header">Partners</h3>
		</div>
		<div class="footer__logo">
			<p class="footer__text">DESIGNED BY</p>
			<a href="#" class="footer__image"></a>
		</div>
	</footer>

	<script src="js/script.min.js"></script>
</body>
</html>