<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colingz Footer</title>
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>

  <link rel="stylesheet" href="css/main.css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>

  <script src="js/main.js"></script>
</head>
<body>

  <footer class="ma-footer" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ma-footer__l-box ">
          <h1>I am <br><span>Robert J. Colingz</span></h1>
          <h3>Financial Analyst & Travel Enthusias</h3>
          <div class="ma-footer__social">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-md-4 ma-footer__r-box">
          <h5>Subcribe</h5>
          <form action="#" method="post" class="ma-footer__form">
            <input type="email" name="email" placeholder=" your email address ">
          </form>
          <h5>Contact<br>
                    <span>Old College, South Bridge, Edinburgh EH8 9YL, UK<br>
                    +44 131 650 1000, +44 131 595 2195<br>
                    robert_colingz@rjcblog.com</span></h5>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>