<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colingz Header</title>
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>

  <link rel="stylesheet" href="css/main.css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>

  <script src="js/main.js"></script>
</head>
<body>

  <header class="ma-header">
    <div class="container-fluid">
      <div class="row">
        <div class="ma-slider" id="slider">
          <div class="ma-slider-item">
            <img src="img/slider-blog.jpg" />
          </div>
          <div class="ma-slider-item">
            <img src="img/slider-italy.jpg" />
          </div>
          <div class="ma-slider-item">
            <img src="img/slider-travelling.jpg" />
          </div>
        </div>
        <div class="ma-cover">
          <div class="ma-nav">
            <nav class="navbar">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </button>
                  <a class="navbar-brand" href="#"><span class="ma-cover__brand">Colingz`s</span> Journal</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right ma-cover__nav">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html#what-can-i-do">What I Can Do</a></li>
                        <li><a href="index.html#timeline">Timeline</a></li>
                        <li><a href="blog.html">My Journal</a></li>
                        <li><a href="gallery.html">Travel Memory</a></li>
                        <li><a href="#contact">Contact Me</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </div>
              <!-- /.container-fluid -->
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

</body>
</html>